@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(247, 240, 240);

}

.container{
    width: 100%;
    display: flex;
    align-content: space-between;
    flex-direction: column;
    margin-left: 1rem;
    margin-top: 1rem;
}

section hr{
    width: 10%;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

#ingresarTarea{
    width: 50%;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#btn-agregar{
    height: 35px;
    width: 100px;
    background-color: #729e2e;
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
}

.totales{
    background-color: rgb(216, 250, 216);
    border: 2px solid grey;
    border-radius: 10px;
    width: 250px;
    height: 150px;
    margin-left: 1rem;
}

.totales h2, span{
    margin-top: 1rem;
    padding-left: 10px;
    background-color: rgb(216, 250, 216);
}

.btn-eliminar{
    font-weight: 700;
    height: 1.5rem;
    width: 1.5rem;
    background-color: rgb(218, 45, 45);
    border-radius: 5px;
    border: 1px solid rgb(189, 33, 33);
}

.tableContainer{
    margin-top: 2rem;
    display: flex;
    

}
.tabla{
    margin-left: 10rem;
    width: 40%;
}

th {
    padding: 25px;
    font-weight: 700;

}
td {
    padding: 25px;
    font-weight: 500;
  }

tr{
    text-align: center;
}

